#article {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: inherit;
}

#article-title {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#edit-title {
  margin: 0;
  padding: 0;
  margin-right: 15px;
  height: 60px;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#edit-title form {
  width: 100%;
}

#edit-title h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  font-size:32px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 14px;
  line-height: 1.0;
}

#edit-title-field {
  padding-top:12px;
  padding-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
}

#article-content {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  height: calc(90vh - 45px - 60px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#edit-content {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  width: 100%;
  height: calc(90vh - 60px - 60px - 30px);
  max-height: calc(90vh - 60px - 60px - 30px);
}

#edit-content > form > div > div {
  padding: 0;
  padding-top:15px;
  padding-bottom:15px;
  padding-left: 14px;
  padding-right: 14px;
}

#edit-content p {
  margin: 0;
  padding: 0;
}

#edit-content-field {
  overflow-y: scroll;
  resize: none;
}

#markdown {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-left: 14px;
  max-height: calc(90vh - 60px - 60px - 30px);
  overflow-y: auto;
}

EditSaveButton {
  margin: 0;
  padding: 0;
}

#markdown > *{
  margin: 0;
  padding: 0;
}

.edit-save-button {
  margin: 0;
  padding: 0;
}

.edit-save-button button {
  width: 80px;
}