html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction:row;
  height: 100%;
}

.app-sidemenu {
  width: 25%;
  left: 0;
  position: sticky;
}

.app-contents {
  width: 75%;
  right: 0;
  overflow-y: scroll;
}

